<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Cultivos</title>
    <link rel="stylesheet" href="/frontend/public/css/components/tabla-unificada.css">
    <link rel="stylesheet" href="/frontend/public/css/pages/Normalize.css">
    <link rel="stylesheet" href="/frontend/public/css/pages/cultivos.css">
    <link rel="stylesheet" href="/frontend/public/css/components/modal.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="/frontend/JS/sidebar.js" defer></script>
    <script src="/frontend/JS/scripHTML.js" defer></script>
</head>
<body>
    <div class="header">
        <div class="header__left-section">
            <span class="header__menu-item">Cultivos</span>
            <span class="header__menu-separator">/</span>
            <span class="header__menu-item">Lista de Cultivos</span>
            <span class="header__menu-separator">-</span>
            <span class="header__menu-item">Cantidad de Cultivos: 15</span>
        </div>
        <div class="header__right-section">
            <input type="text" class="header__search-bar" placeholder="Buscar">
            <span class="header__icon"><i class='bx bx-message-square-add' id="add" title="Agregar"></i></span>
            <span class="header__icon"><i class='bx bxs-download' id="download" title="Descargar Informe"></i></span>
            <span class="header__icon"><box-icon name='bell' type='solid'></box-icon></span>
        </div>
    </div>
    <main>
        <!-- Aquí va la SIDEBAR -->
        <div class="sidebar"> </div>
        <section class="content">
            <table class="content__table">
                <thead class="content__table-head">
                    <tr class="content__table-row">
                        <th class="content__table-header">Nombre</th>
                        <th class="content__table-header">ID</th>
                        <th class="content__table-header">Tamaño</th>
                        <th class="content__table-header">Ubicación</th>
                        <th class="content__table-header">Tipo</th>
                        <th class="content__table-header">Acciones</th>
                    </tr>
                </thead>
                <tbody class="content__table-body">
                    <tr class="content__table-row">
                        <td class="content__table-data">Maíz</td>
                        <td class="content__table-data">CUL00001</td>
                        <td class="content__table-data">500 uds</td>
                        <td class="content__table-data">Parcela 5</td>
                        <td class="content__table-data">Cereal</td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                                <div class="content__icon content__icon--green" id="cropCycleDetails" title="Más información">
                                    <i class='bx bx-plus-circle' id="showCycleDetails"></i>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Papa</td>
                        <td class="content__table-data">CUL00001</td>
                        <td class="content__table-data">500 uds</td>
                        <td class="content__table-data">Parcela 3</td>
                        <td class="content__table-data">Tubérculo</td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                                <div class="content__icon content__icon--green" id="cropCycleDetails" title="Más información">
                                    <i class='bx bx-plus-circle' id="showCycleDetails"></i>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Cilantro</td>
                        <td class="content__table-data">CUL00001</td>
                        <td class="content__table-data">500 uds</td>
                        <td class="content__table-data">invernadero Sur</td>
                        <td class="content__table-data">Hierba</td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                                <div class="content__icon content__icon--green" id="cropCycleDetails" title="Más información">
                                    <i class='bx bx-plus-circle' id="showCycleDetails"></i>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Yuca</td>
                        <td class="content__table-data">CUL00001</td>
                        <td class="content__table-data">500 uds</td>
                        <td class="content__table-data">Parcela 1</td>
                        <td class="content__table-data">Tubérculo</td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                                <div class="content__icon content__icon--green" id="cropCycleDetails" title="Más información">
                                    <i class='bx bx-plus-circle' id="showCycleDetails"></i>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Plátano</td>
                        <td class="content__table-data">CUL00001</td>
                        <td class="content__table-data">500 uds</td>
                        <td class="content__table-data">Parcela 3</td>
                        <td class="content__table-data">Fruta</td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                                <div class="content__icon content__icon--green" id="cropCycleDetails" title="Más información">
                                    <i class='bx bx-plus-circle' id="showCycleDetails"></i>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Tomate</td>
                        <td class="content__table-data">CUL00004</td>
                        <td class="content__table-data">500 uds</td>
                        <td class="content__table-data">invernadero Norte</td>
                        <td class="content__table-data">Vegetal</td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                                <div class="content__icon content__icon--green" id="cropCycleDetails" title="Más información">
                                    <i class='bx bx-plus-circle' id="showCycleDetails"></i>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Arracacha</td>
                        <td class="content__table-data">CUL00003</td>
                        <td class="content__table-data">500 uds</td>
                        <td class="content__table-data">Parcela 2</td>
                        <td class="content__table-data">Tubérculo</td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                                <div class="content__icon content__icon--green" id="cropCycleDetails" title="Más información">
                                    <i class='bx bx-plus-circle' id="showCycleDetails"></i>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Zanahoria</td>
                        <td class="content__table-data">CUL00043</td>
                        <td class="content__table-data">500 uds</td>
                        <td class="content__table-data">invernadero Sur</td>
                        <td class="content__table-data">Vegetal</td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                                <div class="content__icon content__icon--green" id="cropCycleDetails" title="Más información">
                                    <i class='bx bx-plus-circle' id="showCycleDetails"></i>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Papa Criolla</td>
                        <td class="content__table-data">CUL00034</td>
                        <td class="content__table-data">500 uds</td>
                        <td class="content__table-data">Parcela 4</td>
                        <td class="content__table-data">Tubérculo</td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                                <div class="content__icon content__icon--green" id="cropCycleDetails" title="Más información">
                                    <i class='bx bx-plus-circle' id="showCycleDetails"></i>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Remolacha</td>
                        <td class="content__table-data">CUL00005</td>
                        <td class="content__table-data">500 uds</td>
                        <td class="content__table-data">Parcela 5</td>
                        <td class="content__table-data">Tubérculo</td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                                <div class="content__icon content__icon--green" id="cropCycleDetails" title="Más información">
                                    <i class='bx bx-plus-circle' id="showCycleDetails"></i>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Limón</td>
                        <td class="content__table-data">CUL00001</td>
                        <td class="content__table-data">500 uds</td>
                        <td class="content__table-data">Parcela 3</td>
                        <td class="content__table-data">Fruta</td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                                <div class="content__icon content__icon--green" id="cropCycleDetails" title="Más información">
                                    <i class='bx bx-plus-circle' id="showCycleDetails"></i>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Cebolla</td>
                        <td class="content__table-data">CUL00044</td>
                        <td class="content__table-data">500 uds</td>
                        <td class="content__table-data">Parcela 3</td>
                        <td class="content__table-data">Verdura</td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                                <div class="content__icon content__icon--green" id="cropCycleDetails" title="Más información">
                                    <i class='bx bx-plus-circle' id="showCycleDetails"></i>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Mango</td>
                        <td class="content__table-data">CUL00022</td>
                        <td class="content__table-data">500 uds</td>
                        <td class="content__table-data">Parcela 5</td>
                        <td class="content__table-data">Fruta</td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                                <div class="content__icon content__icon--green" id="cropCycleDetails" title="Más información">
                                    <i class='bx bx-plus-circle' id="showCycleDetails"></i>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Banano</td>
                        <td class="content__table-data">CUL00008</td>
                        <td class="content__table-data">500 uds</td>
                        <td class="content__table-data">Parcela 5</td>
                        <td class="content__table-data">Fruta</td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                                <div class="content__icon content__icon--green" id="cropCycleDetails" title="Más información">
                                    <i class='bx bx-plus-circle' id="showCycleDetails"></i>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Carambolo</td>
                        <td class="content__table-data">CUL00066</td>
                        <td class="content__table-data">500 uds</td>
                        <td class="content__table-data">invernadero Oeste</td>
                        <td class="content__table-data">Fruta</td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                                <div class="content__icon content__icon--green" id="cropCycleDetails" title="Más información">
                                    <i class='bx bx-plus-circle' id="showCycleDetails"></i>
                                </div>

                            </div>
                        </td>
                    </tr>

                    <!-- Repeat similar structure for other rows -->
                </tbody>
            </table>

            <!-- Modal para detalles del ciclo de cultivo -->
            <div id="cropCycleModal" class="modal-container">
                <div class="modal-content">
                    <span class="close-button" id="closeModal">&times;</span>
                    <div id="modalContent" class="modal-body">
                        <!-- El contenido se cargará aquí -->
                    </div>
                </div>
            </div>

            <!-- Modal para detalles del ciclo de cultivo -->
            <div id="cropCycleModal" class="modal-container">
                <div class="modal-content">
                    <span class="close-button" id="closeModal">&times;</span>
                    <div id="modalContent" class="modal-body">
                        <!-- El contenido se cargará aquí -->
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Modal para Agregar Cultivo -->
    <div id="addCultivoModal" class="modal-container">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Agregar Cultivo</h2>
                <span class="close-button">&times;</span>
            </div>
            <div class="modal-body">
                <form id="addCultivoForm">
                    <div class="form-group">
                        <label for="tipo">Tipo de Cultivo:</label>
                        <input type="text" id="tipo" name="tipo" required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre del cultivo:</label>
                        <input type="text" id="nombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="id">Identificador del cultivo:</label>
                        <input type="text" id="id" name="id" required>
                    </div>
                    <div class="form-group">
                        <label for="imagen">Fotografía:</label>
                        <input type="file" id="imagen" name="imagen" accept="image/*" required>
                    </div>
                    <div class="form-group">
                        <label for="tamaño">Tamaño:</label>
                        <input type="number" id="tamaño" name="tamano" required>
                    </div>
                    <div class="form-group">
                        <label for="ubicacion">Ubicación:</label>
                        <select name="ubicacion" id="ubicacion" required>
                            <option value="">Seleccione una ubicación</option>
                            <option value="Parcela 3">Parcela 3</option>
                            <option value="Parcela 5">Parcela 5</option>
                            <option value="Invernadero Norte">Invernadero Norte</option>
                            <option value="Invernadero Central">Invernadero Central</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción:</label>
                        <textarea name="descripcion" id="descripcion" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado:</label>
                        <select name="estado" id="estado" required>
                            <option value="habilitado">Habilitado</option>
                            <option value="deshabilitado">Deshabilitado</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="insumos">Insumos:</label>
                        <select name="insumos" id="insumos" multiple required>
                            <option value="Fertilizantes">Fertilizantes</option>
                            <option value="Fungicidas">Fungicidas</option>
                            <option value="Invernaderos">Invernaderos</option>
                            <option value="Mangas">Mangas</option>
                            <option value="Mallas protectoras">Mallas protectoras</option>
                            <option value="Personal de Apoyo">Personal de Apoyo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sensores">Sensores:</label>
                        <select name="sensores" id="sensores" multiple required>
                            <option value="Sensor de humedad">Sensor de humedad</option>
                            <option value="Sensor de temperatura">Sensor de temperatura</option>
                            <option value="Sensor de luminosidad">Sensor de luminosidad</option>
                        </select>
                    </div>
                    <div class="form-buttons">
                        <button type="submit" class="btn-primary">Agregar</button>
                        <button type="button" class="btn-secondary close-button">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

        <script>
        // Lógica para el modal de Agregar Cultivo
        const addCultivoModal = document.getElementById('addCultivoModal');
        const addButton = document.getElementById('add');
        const closeButtons = document.querySelectorAll('#addCultivoModal .close-button');

        if (addButton) {
            addButton.addEventListener('click', () => {
                // Mostramos el modal cambiando su display a 'flex' para que se centre
                addCultivoModal.classList.add('active');
            });
        }

        // Añadimos el evento de cierre a todos los botones de cerrar
        closeButtons.forEach(button => {
            button.addEventListener('click', () => {
                addCultivoModal.classList.remove('active');
            });
        });

        // Cerrar el modal si se hace clic fuera de su contenido
        window.addEventListener('click', (event) => {
            if (event.target === addCultivoModal) {
                addCultivoModal.classList.remove('active');
            }
        });

        // La redirección para descargar informes se mantiene
        document.getElementById("download").onclick = function () {
            window.location.href = "cultivo_informe.html";
        };
    </script>
</body>

</html>
