<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Insumos</title>
    <link rel="stylesheet" href="/frontend/public/css/components/tabla-unificada.css">
    <link rel="stylesheet" href="/frontend/public/css/pages/insumo.css">
    <link rel="stylesheet" href="/frontend/public/css/components/modal.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/frontend/JS/sidebar.js" defer></script>
    <script src="/frontend/JS/grafico_insumo.js" defer></script>
    <script src="../../JS/insumoEdit.js" defer></script>
</head>

<body>
    <div class="header">
        <div class="header__left-section">
            <span class="header__menu-item">Insumos</span>
            <span class="header__menu-separator">/</span>
            <span class="header__menu-item">Lista de Insumos</span>
            <span class="header__menu-separator">-</span>
            <span class="header__menu-item">Cantidad de Insumos: 9</span>
        </div>
        <div class="header__right-section">
            <input type="text" class="header__search-bar" placeholder="Buscar">
            <span class="header__icon"><i class='bx bx-message-square-add' id="add" title="Agregar"></i></span>
            <span class="header__icon"><i class='bx bxs-download' id="download" title="Descargar Informe"></i></span>
            <span class="header__icon"><box-icon name='bell' type='solid'></box-icon></span>
        </div>
    </div>
    <main>
        <!-- Aquí va la SIDEBAR -->
        <div class="sidebar"> </div>
        <section class="content">
            <table class="content__table">
                <thead class="content__table-head">
                    <tr class="content__table-row">
                        <th class="content__table-header">Nombre</th>
                        <th class="content__table-header">ID</th>
                        <th class="content__table-header">Unidad de medida</th>
                        <th class="content__table-header">Cantidad</th>
                        <th class="content__table-header">Valor Unitario</th>
                        <th class="content__table-header">Estado</th>
                        <th class="content__table-header">Acciones</th>
                    </tr>
                </thead>
                <tbody class="content__table-body">
                    <tr class="content__table-row">
                        <td class="content__table-data">Semillas</td>
                        <td class="content__table-data">GNR76286</td>
                        <td class="content__table-data">Gramos</td>
                        <td class="content__table-data">5</td>
                        <td class="content__table-data">$8.000</td>
                        <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span
                                class="content__status-enabled"></span>&nbsp;
                            Deshabilitado:&nbsp;<span></span></td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit edit-button'></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Fertilizante</td>
                        <td class="content__table-data">GNR76286</td>
                        <td class="content__table-data">Kilos</td>
                        <td class="content__table-data">6</td>
                        <td class="content__table-data">$3.000</td>
                        <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span
                                class="content__status-enabled"></span>&nbsp; Deshabilitado:
                            &nbsp;<span></span></td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit edit-button'></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Pesticida</td>
                        <td class="content__table-data">GNR76286</td>
                        <td class="content__table-data">Kilos</td>
                        <td class="content__table-data">20</td>
                        <td class="content__table-data">$25.000</td>
                        <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span
                                class="content__status-enabled"></span>&nbsp; Deshabilitado:
                            &nbsp;<span></span></td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit edit-button'></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Sustrato</td>
                        <td class="content__table-data">GNR76286</td>
                        <td class="content__table-data">Kilos</td>
                        <td class="content__table-data">3</td>
                        <td class="content__table-data">$25.000</td>
                        <td class="content__table-data content__table-data--status">Habilitado:
                            &nbsp;<span></span>&nbsp; Deshabilitado: &nbsp;<span
                                class="content__status-disabled"></span></td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit edit-button'></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Herramientas</td>
                        <td class="content__table-data">USR76286</td>
                        <td class="content__table-data">Personal de Apoyo</td>
                        <td class="content__table-data">12</td>
                        <td class="content__table-data">$35.000</td>
                        <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span
                                class="content__status-enabled"></span>&nbsp; Deshabilitado:
                            &nbsp;<span></span></td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit edit-button'></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Aspersores</td>
                        <td class="content__table-data">USR76288</td>
                        <td class="content__table-data">Personal de Apoyo</td>
                        <td class="content__table-data">25</td>
                        <td class="content__table-data">$55.000</td>
                        <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span
                                class="content__status-enabled"></span>&nbsp; Deshabilitado:
                            &nbsp;<span></span></td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit edit-button'></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Mangueras</td>
                        <td class="content__table-data">GNR76287</td>
                        <td class="content__table-data">Metros</td>
                        <td class="content__table-data">22</td>
                        <td class="content__table-data">$19.500</td>
                        <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span
                                class="content__status-enabled"></span>&nbsp; Deshabilitado:
                            &nbsp;<span></span></td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit edit-button'></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Mallas protectoras</td>
                        <td class="content__table-data">USR76284</td>
                        <td class="content__table-data">Metros</td>
                        <td class="content__table-data">17</td>
                        <td class="content__table-data">$5.000</td>
                        <td class="content__table-data content__table-data--status">Habilitado:
                            &nbsp;<span></span>&nbsp; Deshabilitado: &nbsp;<span
                                class="content__status-disabled"></span></td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit edit-button'></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Invernadero de Plástico</td>
                        <td class="content__table-data">USR76286</td>
                        <td class="content__table-data">Metro Cubico</td>
                        <td class="content__table-data">12</td>
                        <td class="content__table-data">$5.000</td>
                        <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span
                                class="content__status-enabled"></span>&nbsp; Deshabilitado:
                            &nbsp;<span></span></td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit edit-button'></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

    </main>

    <!-- Modal para Agregar Insumo -->
    <div id="addInsumoModal" class="modal-container">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Agregar Insumo</h2>
                <span class="close-button">&times;</span>
            </div>
            <div class="modal-body">
                <form id="addInsumoForm">
                    <div class="form-group">
                        <label for="addTipo">Tipo Insumo:</label>
                        <select id="addTipo" name="tipo" required>
                            <option value="">Seleccione una opción</option>
                            <option value="Fertilizantes">Fertilizantes</option>
                            <option value="Fungicidas">Fungicidas</option>
                            <option value="Invernaderos">Invernaderos</option>
                            <option value="Mangas">Mangas</option>
                            <option value="Mallas protectoras">Mallas protectoras</option>
                            <option value="Personal de Apoyo">Personal de Apoyo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="addId">ID Insumo:</label>
                        <input type="text" id="addId" name="id" required>
                    </div>
                    <div class="form-group">
                        <label for="addNombre">Nombre del Insumo:</label>
                        <input type="text" id="addNombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="addUnidad">Unidad de medida:</label>
                        <select id="addUnidad" name="unidad" required>
                            <option value="">Seleccione una opción</option>
                            <option value="Gramos">Gramos</option>
                            <option value="Kilos">Kilos</option>
                            <option value="Metros">Metros</option>
                            <option value="Metro Cubico">Metro Cúbico</option>
                            <option value="Personal de Apoyo">Personal de Apoyo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="addCantidad">Cantidad:</label>
                        <input type="number" id="addCantidad" name="cantidad" required>
                    </div>
                    <div class="form-group">
                        <label for="addValorUnitario">Valor Unitario:</label>
                        <input type="number" id="addValorUnitario" name="valorUnitario" required>
                    </div>
                    <div class="form-group">
                        <label for="addValorTotal">Valor Total:</label>
                        <input type="number" id="addValorTotal" name="valorTotal" required>
                    </div>
                    <div class="form-group">
                        <label for="addDescripcion">Descripción:</label>
                        <textarea id="addDescripcion" name="descripcion" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="addEstado">Estado:</label>
                        <select id="addEstado" name="estado" required>
                            <option value="">Seleccione una opción</option>
                            <option value="habilitado">Habilitado</option>
                            <option value="deshabilitado">Deshabilitado</option>
                        </select>
                    </div>
                    <div class="form-buttons">
                        <button type="submit" class="btn-primary">Agregar Insumo</button>
                        <button type="button" class="btn-secondary close-button">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal de Edición -->
    <div id="editInsumoModal" class="modal-container">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Editar Insumo</h2>
                <span class="close-button">&times;</span>
            </div>
            <div class="modal-body">
                <form id="editInsumoForm">
                    <div class="form-group">
                        <label for="editNombre">Nombre:</label>
                        <input type="text" id="editNombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="editUnidad">Unidad de medida:</label>
                        <select id="editUnidad" name="unidad">
                            <option value="Gramos">Gramos</option>
                            <option value="Kilos">Kilos</option>
                            <option value="Metros">Metros</option>
                            <option value="Metro Cubico">Metro Cúbico</option>
                            <option value="Personal de Apoyo">Personal de Apoyo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editCantidad">Cantidad:</label>
                        <input type="number" id="editCantidad" name="cantidad" required>
                    </div>
                    <div class="form-group">
                        <label for="editValor">Valor Unitario:</label>
                        <input type="number" id="editValor" name="valor" required>
                    </div>
                    <div class="form-group">
                        <label for="editEstado">Estado:</label>
                        <select id="editEstado" name="estado">
                            <option value="habilitado">Habilitado</option>
                            <option value="deshabilitado">Deshabilitado</option>
                        </select>
                    </div>
                    <div class="form-buttons">
                        <button type="submit" class="btn-primary">Guardar Cambios</button>
                        <button type="button" class="btn-secondary close-button">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
                document.addEventListener('DOMContentLoaded', () => {
            const addInsumoModal = document.getElementById('addInsumoModal');
            const editInsumoModal = document.getElementById('editInsumoModal');
            const addButton = document.getElementById('add');
            const editButtons = document.querySelectorAll('.edit-button');

            // Function to open a modal
            const openModal = (modal) => modal.classList.add('active');

            // Function to close a modal
            const closeModal = (modal) => modal.classList.remove('active');

            // Open "Add" modal
            if (addButton) {
                addButton.addEventListener('click', () => openModal(addInsumoModal));
            }

            // Open "Edit" modal
            editButtons.forEach(button => {
                button.addEventListener('click', () => openModal(editInsumoModal));
            });

            // Close modals using their close buttons
            [addInsumoModal, editInsumoModal].forEach(modal => {
                if (modal) {
                    const closeButtons = modal.querySelectorAll('.close-button');
                    closeButtons.forEach(button => {
                        button.addEventListener('click', () => closeModal(modal));
                    });

                    // Close modal when clicking on the background
                    modal.addEventListener('click', (event) => {
                        if (event.target === modal) {
                            closeModal(modal);
                        }
                    });
                }
            });
        });
    </script>
</body>

</html>